
// Breakpoints
$mobile: 680px;

$mobile-portrait: 320px;
$mobile-lanscape: 530px;
$tablet-portrait: 700px;
$tablet-lanscape: 830px;
$desktop 		: 1024px;

$mp 	: $mobile-portrait;
$ml 	: $mobile-lanscape;
$tp 	: $tablet-portrait;
$tl 	: $tablet-lanscape;
$d 		: $desktop;

//colores
$azul: #131f55;

//fuentes
$montserrat: 'Montserrat', sans-serif;